*{
    box-sizing: border-box;
    
}



.carousel{
    width: 50%;
    height: 600px;
    margin: 0 auto;
    position: relative;
}
.carousel_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.carousel_container{
   
    position: relative;
    height: 100%;

}
.carousel-it{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    
}


.carousel_prev, .carousel_next{
    
    position:absolute ;
    top:50% ;
    transition: 0.4s ease;
    margin-top: -22px;
    padding: 16px;
    font-size: 25px;
    cursor: pointer;
    color: transparent;
    font-weight: bold;
    width: auto;
   

}

.carousel_prev:hover{
   color:whitesmoke;
}

.carousel_next:hover{
    color:whitesmoke;
 }

.carousel_next{
    right: 0;
    
    
}
.message{
    position: absolute;
    text-align: center;
    color: azure;
    font-size: 15px;
    bottom: 8px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background: rgba(0,0,0,.75);
}

.num{
   color: azure; 
   padding: 8px 12px;
   font-size: 10px;
   top: 0;
   position: absolute;

}